<div class="main">
    <div class="container">
      <div class="subtitle">
        <h2>Natural ədədlərin onluq say sistemində yazılışı</h2>
        <div class="btn-div">
          <button (click)="before()" mat-raised-button>Öncəki</button>
          <button (click)="next()" mat-raised-button>Sonrakı</button>
        </div>
      </div>
      <div class="dis-flex">
      <video width="800px" height="450px" controls>
        <source src="" type="video/mp4" />
      </video>
    </div>
      <div>
          <button mat-raised-button color="primary">Like</button>
          <button mat-raised-button color="warn">Dislike</button>
        <h2>Transkript</h2>
        <p>
            Bu gördüyün şəkil Braziliyada yaşayan Piraha yerlilərinə aiddir. Onlar saya bilmirlər və dillərində say bildirən sadəcə 3 söz var: az, bir az və çox.
            Birimiz Braziliyaya səyahət edib onlara saymağı öyrətsəydi necə olardı? Yəqin ki elə bir daşdan başlayardıq, sonra yanına digərini əlavə edib 2 daş olduğunu izah edərdik.
            <span class="seeMore" *ngIf="seeMore" (click)="moreInfo()" >Daha çox...</span>
          <span *ngIf="more">İbtidai icmada da eyni bu şəkildə saylar yaranmağa başlayıb. Və buna da natural ədədlər deyilir.  

            İndi bir sual. Saymaq üçün ən çox nədən istifadə edirik? Barmaqlarımızdan. 10-luq say sistemi də elə buradan yaranıb. Gəlin sayma zamanı istifadə etdiyimiz ədədlərin yazılışına baxaq. Natural ədədlərin yazılışında sağdan sola doğru bütün rəqəmlər üç-üç ayrılaraq siniflər əmələ gətirir: təkliklər, minliklər, milyonluqlar, milyardlıqlar və s. Hər bir sinif mərtəbələrə - təkliklər, onluqlar, yüzlüklər - bölünür. Ədədlər ən böyük mərtəbədən başlamaqla siniflərin adları ilə oxunur.
            Məsələn, ab ədədində b təklik, a onluq mərtəbəsində yerləşir. Abc ədədində isə c təklik, b onluq və a yüzlük mərtəbəsindədir. Bunu belə anlamaq olar: 123= 1x100+ 2x10+ 3x1, yəni 1 yüzlüyün, 2 onluğun və 3 təkliyin birləşməsindən yaranıb.
            
            Növbəti dərsimizdə isə səni gələcəyə aparacağıq. Tələbə olandan sonra qarşılaşa biləcəyin vacib məsələlərdən biri ilə tanış edəcəyik.
            <span class="seeMore" (click)="moreInfo()" >Daha az...</span> </span>
        </p>
      </div>
    </div>
  </div>
  