
h3 {
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.subtitle {
    display: flex;
    justify-content: space-between;
    
}

button {
    margin: 5px;
    border-radius: 10px;
}

.seeMore{
    font-weight: 800;
}

.dis-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.transkript {
    margin-top: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0.862257px 10px #CCCCCC;
    border-radius: 25px;
    width: 78%;
    margin-left: 110px;
    
}

.transkript__text {
    padding: 20px;
}

.comment {
        background-color: #EDEDED;
        color: #969696;
        font-family: "Poppins";
        padding: 10px;
        border: none;
        font-size: 16px;
        margin-top: 20px;
        border-radius: 10px;
        height: 20px;
        width: 760px;
        margin-left: 10px;
}

.submit {
    border-radius: 10px;
    border: transparent;
    height: 30px;
    width: 100px;
}

.comment_answer {
    margin-left: 100px;
    margin-top: 20px;
}

.profile_picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 20px;
}

.comment_input {
    display: flex;
    margin-left: 100px;
}

.answers {
    margin-top: -35px;
}
