
h3 {
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.subtitle {
    display: flex;
    justify-content: space-between;
    
}

button {
    margin: 5px;
    border-radius: 10px;
}

.seeMore{
    font-weight: 800;
}

.dis-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.transkript {
    margin-top: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0.862257px 10px #CCCCCC;
    border-radius: 25px;
    width: 90%;
    margin-left: 40px;
    
}

.transkript__text {
    padding: 20px;
}