<div class="container">
  <div routerLink="" class="pad">
    <img src="../../../assets/701 purple 2.png" alt="701" />
  </div>
  <div class="btn-div">
    <button mat-raised-button (click)="clickMath()" [style.background]="colorMath">Riyaziyyat</button>
    <button mat-raised-button (click)="clickAzerb()" [style.background]="colorAz">Azərbaycan dili</button>
    <button mat-raised-button (click)="clickEnglish()" [style.background]="colorEn">İngilis dili</button>
  </div>
  <div class="center margin-right">
    <button (click)="logout()" type="submit" mat-raised-button style="background-color: #E4005C; color: #fff;">
      Çıxış
    </button>
  </div>
</div>

<mat-sidenav-container *ngIf="math" class="example-container">
  <mat-sidenav
    #sidenav
    class="example-sidenav"
    mode="side"
    opened="true"
    (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()"
  >
    <mat-nav-list>
      <mat-list-item (click)="naturalEdedler = !naturalEdedler" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Natural ədədlər</span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: naturalEdedler }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: naturalEdedler }"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="naturalEdedler">
          <mat-list-item routerLink="math" routerLinkActive="active"
            >Natural ədədlərin onluq say sistemində yazılışı</mat-list-item
          >
          <mat-list-item routerLink="video-player" routerLinkActive="active"
            >Natural ədədlərin toplanması, çıxılması, vurulması və
            bölünməsi</mat-list-item
          >
          <mat-list-item *ngFor="let name of naturalEdedlerArr">{{
            name
          }}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu2 = !showSubSubMenu2" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Adi və onluq kəsrlər</span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu2 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu2 }"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu2">
          <mat-list-item routerLink="not-available" *ngFor="let name of kesrlerArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu3 = !showSubSubMenu3" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Nisbət. Tənasüb. Faiz</span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu3 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu3 }"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu3">
          <mat-list-item routerLink="not-available"  *ngFor="let name of nisbetArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu4 = !showSubSubMenu4" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Həqiqi ədədlər</span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu4 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu4 }"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu4">
          <mat-list-item routerLink="not-available"  *ngFor="let name of ededlerArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu5 = !showSubSubMenu5" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Tam cəbri ifadələr</span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu5 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu5 }"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu5">
          <mat-list-item routerLink="not-available"  *ngFor="let name of cebriArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu6 = !showSubSubMenu6" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Çoxhədlinin vuruqlara ayrılması</span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu6 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu6 }"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu6">
          <mat-list-item routerLink="not-available"  *ngFor="let name of vuruqArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu7 = !showSubSubMenu7" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Rasional kəsrlərı</span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu7 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu7 }"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu7">
          <mat-list-item routerLink="not-available" *ngFor="let name of rasionalArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu8 = !showSubSubMenu8" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Kvadrat köklər. Həqiqi üstlü qüvvət</span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu8 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu8 }"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu8">
          <mat-list-item routerLink="not-available"  *ngFor="let name of koklerArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu9 = !showSubSubMenu9" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Birməchullu tənliklər və məsələlər</span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu9 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu9 }"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu9">
          <mat-list-item *ngFor="let name of birmechulluArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu10 = !showSubSubMenu10" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Tənliklər sistemi </span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu10 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu10 }"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu10">
          <mat-list-item routerLink="not-available"  *ngFor="let name of sistemArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu11 = !showSubSubMenu11" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Bərabərsizliklər və bərabərsizliklər sistemi </span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu11 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu11 }"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu11">
          <mat-list-item routerLink="not-available"  *ngFor="let name of berabersizliklerArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu12 = !showSubSubMenu12" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Ədədi ardıcıllıqlar. Silsilələr </span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu12 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu12 }"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu12">
          <mat-list-item routerLink="not-available"  *ngFor="let name of ardicilliqlarArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu13 = !showSubSubMenu13" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Çoxluqlar </span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu13 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu13 }"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu13">
          <mat-list-item routerLink="not-available"  *ngFor="let name of coxluqlarArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu14 = !showSubSubMenu14" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Həndəsənin əsas anlayışları</span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu14 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu14 }"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu14">
          <mat-list-item routerLink="not-available"  *ngFor="let name of hendesArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu15 = !showSubSubMenu15" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Üçbucaqlar</span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu15 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu15 }"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu15">
          <mat-list-item routerLink="not-available"  *ngFor="let name of ucbucaqlarArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu16 = !showSubSubMenu16" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Dördbucaqlılar. Çoxbucaqlılar</span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu16 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu16 }"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu16">
          <mat-list-item routerLink="not-available"  *ngFor="let name of dordbucaqlarArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu17 = !showSubSubMenu17" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Çevrə və Dairə</span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu17 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu17 }"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu17">
          <mat-list-item routerLink="not-available"  *ngFor="let name of cevreArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu18 = !showSubSubMenu18" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Funksiyalar və qrafiklər</span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu18 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu18 }"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu18">
          <mat-list-item routerLink="not-available"  *ngFor="let name of funksiyalarArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu19 = !showSubSubMenu19" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Triqonometrik funksiyalar</span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu19 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu19 }"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu19">
          <mat-list-item routerLink="not-available"  *ngFor="let name of triqonometrikArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu20 = !showSubSubMenu20" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Triqonometrik funksiyalar üçün toplama teoremi </span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu20 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu20}"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu20">
          <mat-list-item routerLink="not-available"  *ngFor="let name of triqonometriktoplamaArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu21 = !showSubSubMenu21" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Triqonometrik tənliklər və bərabərsizliklər </span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu21 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu21}"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu21">
          <mat-list-item routerLink="not-available"  *ngFor="let name of triqonometriktenliklerArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu22 = !showSubSubMenu22" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Üstlü və loqarifmik funksiyalar </span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu22 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu22}"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu22">
          <mat-list-item routerLink="not-available"  *ngFor="let name of loqarifmikArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu23 = !showSubSubMenu23" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Üstlü, loqarifmik tənliklər və bərabərsizliklər </span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu23 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu23}"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu23">
          <mat-list-item routerLink="not-available"  *ngFor="let name of loqarifmiktenliklerArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu24 = !showSubSubMenu24" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Ardıcıllığın və funksiyanın limiti  </span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu24 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu24}"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu24">
          <mat-list-item routerLink="not-available"  *ngFor="let name of limitArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu25 = !showSubSubMenu25" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Törəmə və tətbiqləri  </span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu25 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu25}"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu25">
          <mat-list-item routerLink="not-available"  *ngFor="let name of toremeArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item (click)="showSubSubMenu26 = !showSubSubMenu26" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Birləşmələr nəzəriyyəsi. Ehtimal nəzəriyyəsi və Statistika </span
        >
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubSubMenu26 }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubSubMenu26}"
        *ngIf="isShowing || isExpanded"
      >
        <ng-container *ngIf="showSubSubMenu26">
          <mat-list-item routerLink="not-available"  *ngFor="let name of statistikaArr ">{{name}}</mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>





  </mat-sidenav>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>




<mat-sidenav-container *ngIf="azerb" class="example-container">
  <mat-sidenav
    #sidenav
    class="example-sidenav"
    mode="side"
    opened="true"
    (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()"
  >
  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Fonetika</span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu">
        <mat-list-item routerLink="not-available"  *ngFor="let name of fonetikaArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu2 = !showSubSubMenu2" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Orfoqrafiya. Orfoepiya. Leksika
        </span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu2 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu2 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu2">
        <mat-list-item routerLink="not-available"  *ngFor="let name of leksikaArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu3 = !showSubSubMenu3" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Söz Yaradıcılığı</span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu3 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu3 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu3">
        <mat-list-item routerLink="not-available" *ngFor="let name of sozArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu4 = !showSubSubMenu4" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >İsim</span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu4 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu4 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu4">
        <mat-list-item routerLink="not-available"  *ngFor="let name of isimArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu5 = !showSubSubMenu5" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Sifət</span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu5 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu5 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu5">
        <mat-list-item  routerLink="not-available" *ngFor="let name of sifetArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu6 = !showSubSubMenu6" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Say</span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu6 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu6 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu6">
        <mat-list-item routerLink="not-available"  *ngFor="let name of sayArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu7 = !showSubSubMenu7" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Əvəzlik</span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu7 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu7 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu7">
        <mat-list-item routerLink="not-available"  *ngFor="let name of evezlikArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu8 = !showSubSubMenu8" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Feil</span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu8 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu8 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu8">
        <mat-list-item  routerLink="not-available" *ngFor="let name of feilArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu9 = !showSubSubMenu9" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Feilin təsriflənməyən formaları</span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu9 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu9 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu9">
        <mat-list-item routerLink="not-available" *ngFor="let name of feilformaArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu10 = !showSubSubMenu10" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Zərf</span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu10 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu10 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu10">
        <mat-list-item routerLink="not-available" *ngFor="let name of zerfArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu11 = !showSubSubMenu11" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Köməkçi nitq hissələri</span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu11 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu11 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu11">
        <mat-list-item routerLink="not-available" *ngFor="let name of komekciArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu12 = !showSubSubMenu12" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Söz birləşmələri. Sintaktik əlaqələr</span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu12 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu12 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu12">
        <mat-list-item routerLink="not-available" *ngFor="let name of sozbirleshmeArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu13 = !showSubSubMenu13" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Cümlə. Sadə cümlənin təsnifatı</span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu13 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu13 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu13">
        <mat-list-item routerLink="not-available" *ngFor="let name of cumleArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu14 = !showSubSubMenu14" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Cümlə üzvləri. Cümlənin qrammatik əsası</span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu14 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu14 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu14">
        <mat-list-item routerLink="not-available" *ngFor="let name of cumleuzvleriArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu15 = !showSubSubMenu15" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Əlavələr</span
      >
      <!-- <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu15 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      > -->
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu15 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu15">
        <!-- <mat-list-item routerLink="not-available" *ngFor="let name of cumleuzvleriArr ">{{name}}</mat-list-item> -->
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu16 = !showSubSubMenu16" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Həmcins üzvlər</span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu16 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu16 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu16">
        <mat-list-item routerLink="not-available" *ngFor="let name of hemcinsArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu17 = !showSubSubMenu17" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Xitab. Ara sözlər</span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu17 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu17 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu17">
        <mat-list-item routerLink="not-available" *ngFor="let name of xitabArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu18 = !showSubSubMenu18" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Mürəkkəb cümlənin növləri</span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu18 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu18 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu18">
        <mat-list-item routerLink="not-available" *ngFor="let name of murekkebArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu19 = !showSubSubMenu19" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Vasitəli və vasitəsiz nitq</span
      >
      <!-- <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu19 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      > -->
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu19 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu19">
        <!-- <mat-list-item routerLink="not-available" *ngFor="let name of murekkebArr ">{{name}}</mat-list-item> -->
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu21 = !showSubSubMenu21" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Durğu işarələri</span
      >
      <!-- <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu21 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      > -->
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu21 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu21">
        <!-- <mat-list-item routerLink="not-available" *ngFor="let name of murekkebArr ">{{name}}</mat-list-item> -->
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu22 = !showSubSubMenu22" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Dil. Nitq mədəniyyəti</span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu22 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu22 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu22">
        <mat-list-item routerLink="not-available" *ngFor="let name of dilArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu23 = !showSubSubMenu23" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Üslubiyyat. Üslublar</span
      >
      <!-- <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu23 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      > -->
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu23 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu23">
        <!-- <mat-list-item routerLink="not-available" *ngFor="let name of dilArr ">{{name}}</mat-list-item> -->
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu20 = !showSubSubMenu20" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Cümlə və cümlə üzvlərinə görə təhlil</span
      >
      <!-- <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu20 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      > -->
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu20 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu20">
        <!-- <mat-list-item routerLink="not-available" *ngFor="let name of murekkebArr ">{{name}}</mat-list-item> -->
      </ng-container>
    </div>
  </mat-nav-list>


  



  </mat-sidenav>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>


<mat-sidenav-container *ngIf="english"  class="example-container">
  <mat-sidenav
    #sidenav
    class="example-sidenav"
    mode="side"
    opened="true"
    (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()"
  >
  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Noun</span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu">
        <mat-list-item routerLink="not-available" *ngFor="let name of nounArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu2 = !showSubSubMenu2" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Articles
        </span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu2 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu2 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu2">
        <mat-list-item *ngFor="let name of articlesArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu3 = !showSubSubMenu3" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Pronouns</span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu3 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu3 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu3">
        <mat-list-item *ngFor="let name of pronounsArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu4 = !showSubSubMenu4" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Adjectives</span
      >
      <!-- <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu4 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      > -->
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu4 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu4">
        <!-- <mat-list-item *ngFor="let name of pronounsArr ">{{name}}</mat-list-item> -->
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu5 = !showSubSubMenu5" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Adverbs</span
      >
      <!-- <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu5 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      > -->
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu5 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu5">
        <!-- <mat-list-item *ngFor="let name of pronounsArr ">{{name}}</mat-list-item> -->
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu6 = !showSubSubMenu6" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Quantifiers</span
      >
      <!-- <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu6 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      > -->
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu6 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu6">
        <!-- <mat-list-item *ngFor="let name of pronounsArr ">{{name}}</mat-list-item> -->
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu7 = !showSubSubMenu7" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >So do I. Neither do I. </span
      >
      <!-- <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu7 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      > -->
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu7 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu7">
        <!-- <mat-list-item *ngFor="let name of pronounsArr ">{{name}}</mat-list-item> -->
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu8 = !showSubSubMenu8" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Tense Forms. Sequence of Tenses </span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu8 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu8 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu8">
        <mat-list-item *ngFor="let name of tenseArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu9 = !showSubSubMenu9" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >The Passive Voice</span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu9 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu9 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu9">
        <mat-list-item *ngFor="let name of passiveArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu10 = !showSubSubMenu10" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Modal Verbs</span
      >
      <!-- <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu10 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      > -->
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu10 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu10">
        <!-- <mat-list-item *ngFor="let name of passiveArr ">{{name}}</mat-list-item> -->
      </ng-container>
    </div>
  </mat-nav-list>

    <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu11 = !showSubSubMenu11" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Conjunctions</span
      >
      <!-- <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu11 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      > -->
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu11 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu11">
        <!-- <mat-list-item *ngFor="let name of passiveArr ">{{name}}</mat-list-item> -->
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu12 = !showSubSubMenu12" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Conjunctive words</span
      >
      <!-- <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu12 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      > -->
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu12 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu12">
        <!-- <mat-list-item *ngFor="let name of passiveArr ">{{name}}</mat-list-item> -->
      </ng-container>
    </div>
  </mat-nav-list>

    <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu13 = !showSubSubMenu13" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >The Agreement of the Predicate with the Subject</span
      >
      <!-- <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu13 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      > -->
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu13 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu13">
        <!-- <mat-list-item *ngFor="let name of passiveArr ">{{name}}</mat-list-item> -->
      </ng-container>
    </div>
  </mat-nav-list>

      <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu14 = !showSubSubMenu14" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Preposition</span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu14 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu14 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu14">
        <mat-list-item *ngFor="let name of prepositionArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu15 = !showSubSubMenu15" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Interrogative Words and Sentences </span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu15 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu15 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu15">
        <mat-list-item *ngFor="let name of interrogativeArr ">{{name}}</mat-list-item>
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu16 = !showSubSubMenu16" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Making up Sentences </span
      >
      <!-- <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu16 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      > -->
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu16 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu16">
        <!-- <mat-list-item *ngFor="let name of sentencesArr ">{{name}}</mat-list-item> -->
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu17 = !showSubSubMenu17" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Indirect (Reported) Speech. Embedded (Indirect) Questions</span
      >
      <!-- <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu17 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      > -->
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu17 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu17">
        <!-- <mat-list-item *ngFor="let name of sentencesArr ">{{name}}</mat-list-item> -->
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu18 = !showSubSubMenu18" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Synonyms</span
      >
      <!-- <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu18 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      > -->
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu18 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu18">
        <!-- <mat-list-item *ngFor="let name of sentencesArr ">{{name}}</mat-list-item> -->
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu19 = !showSubSubMenu19" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Antonyms</span
      >
      <!-- <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu19 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      > -->
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu19 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu19">
        <!-- <mat-list-item *ngFor="let name of sentencesArr ">{{name}}</mat-list-item> -->
      </ng-container>
    </div>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item (click)="showSubSubMenu20 = !showSubSubMenu20" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Exclamatory sentences</span
      >
      <!-- <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu20 }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      > -->
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu20 }"
      *ngIf="isShowing || isExpanded"
    >
      <ng-container *ngIf="showSubSubMenu20">
        <!-- <mat-list-item *ngFor="let name of sentencesArr ">{{name}}</mat-list-item> -->
      </ng-container>
    </div>
  </mat-nav-list>





  
</mat-sidenav>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>

