<div class="loginBlock">
  <div routerLink="" class="pad">
  <img src="../../../assets/701 purple 2.png" alt="701" id="cta701">
  </div>

    <div class="formBlock mat-elevation-z5">
      <h1>Giriş</h1>
      <form [formGroup] = "loginForm" (ngSubmit)="submit()">

        <div class="placeholder__email">
        <mat-form-field>
          <label for="email" class="emailTitle">E-poçt</label>
        <input placeholder="username@gmail.com" id="email" formControlName="email" class="emailInput"/>
        <mat-error *ngIf="email?.errors?.['required']">
            E-poçt ünvanı tələb olunur
        </mat-error>
        <mat-error *ngIf="email?.errors?.['email']">
            Etibarlı e-poçt ünvanı daxil edin
        </mat-error> 
        </mat-form-field>
      </div>

      <div class="placeholder__password">
        <mat-form-field>
          <label for="password" class="passwordTitle">Şifrə</label>
          <input type="password" id="password" placeholder="Şifrə" formControlName="password" class="passwordInput" />
          <mat-error *ngIf="password?.errors?.['required']">
            Şifrə tələb olunur
          </mat-error>
        </mat-form-field>
      </div>

        <div class="center margin-top">
            <button type="submit" mat-raised-button class="form-container__button">Davam et</button>
        </div>

        <span class="center margin-top">Hesabınız yoxdur? <a class="sign-up-link" routerLink="/sign-up">Qeydiyyatdan keçin</a></span>
      </form>
    </div>
    </div>