<div class="block">

  <div routerLink="" class="pad">
 
     <img src="../../../assets/novademy logo FINAL (white).png" alt="701" id="cta701">
 
     </div>
 
     <div class="form-container mat-elevation-z5">
 
         <h1 class="title">Qeydiyyat</h1>
 
         <form [formGroup] = "loginForm" (ngSubmit)="submit()">
 
           <mat-form-field>
 
             <input matInput placeholder="E-poçt" formControlName="email" />
 
             <mat-error *ngIf="email?.errors?.['required']">
 
               E-poçt ünvanı tələb olunur
 
             </mat-error>
 
             <mat-error *ngIf="email?.errors?.['email']">
 
               Etibarlı e-poçt ünvanı daxil edin
 
             </mat-error>
 
           </mat-form-field>
 
           <mat-form-field>
 
             <input matInput type="password" placeholder="Şifrə" formControlName="password" />
 
             <mat-error *ngIf="password?.errors?.['required']">
 
               Şifrə tələb olunur
 
             </mat-error>
 
           </mat-form-field>
 
           <div class="center margin-top">
 
               <button type="submit" mat-raised-button class="button">Davam et</button>
 
           </div>
 
           <span class="center margin-top">Hesabınız yoxdur? <a class="sign-up-link" routerLink="/sign-up">Hesab yarat!</a></span>
 
         </form>
 
       </div>
 
 </div>